# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.mo
*.so
*.sqlite3

# Environment
.env
venv/
*.egg-info/
.eggs/

# VSCode / PyCharm
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
